<%= form_with(model: site) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "sites/shared/inline_fields" , form: form, method: :name do %>
    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
    </div>
  <% end %>
  <%= render "sites/shared/inline_fields" , form: form, method: :subdomain do %>
      <div class="mb-3">
      <%= form.label :subdomain, class: 'form-label' %>
        <%= form.text_field :subdomain, class: 'form-control' %>
    </div>
  <% end %>

  <!--  -->
<%= render "sites/shared/inline_fields" , form: form, method: :headline do %>
    <div class="mb-3">
      <%= form.label :headline, class: 'form-label' %>
      <%= form.text_field :headline, class: 'form-control' %>
    </div>
<% end %>
  <!--  -->
  <%= render "sites/shared/inline_fields" , form: form, method: :tagline do %>
  <div class="mb-3">
    <%= form.label :tagline, class: 'form-label' %>
    <%= form.text_field :tagline, class: 'form-control' %>
  </div>
<% end %>
<!-- START logo search -->
  <div class="mb-3">
    <style>

    </style>
    <%= render "sites/shared/inline_fields" , form: form, method: :logo_url do %>
      <%= form.label :logo, class: 'form-label' %>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Search for logo
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%  @photos = Photo.search("emotion") %>
              <div class="search-results">
                <% @photos.each do |photo| %>
                <% image_id = photo.urls.thumb.split("?").first.split("/").last %>

                  <%= image_tag photo.urls.thumb, 
                      id: image_id, 
                      onClick: "javascript:setImage(\'#{image_id}\') " %>
                <% end %>

              </div>

            </div>
            <div class="modal-footer">
              <div class="upload-local-image">

                <%= image_tag "/static/sample-blog.png", id: "sample-logo" %>
              </div>
              <div class="alt-text-plus-confirm-button">
                <p>alt text input here</p>
                <p>[confirm]</p>
              </div>

              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
      </div>

      <%= form.text_field :logo_url, class: 'form-control' %>
    <% end %>
  </div>

  <script >
    function setImage(image_id) {
        const elem = document.getElementById(image_id);
        console.log(elem.src)

        const logo_url_input = document.getElementById("site_logo_url");
        logo_url_input.value = elem.src

        const sample_logo = document.getElementById("sample-logo");
        sample_logo.src = elem.src

      }

  </script>
<!-- FINISH logo search -->

  <div class="mb-3">
    <%= render "sites/shared/inline_fields" , form: form, method: :hero_image_url do %>
      <%= form.label :hero_image_url, class: 'form-label' %>
      <%= form.text_field :hero_image_url, class: 'form-control' %>
    <% end %>
  </div>


  <div class="mb-3">
    <% if site.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', site, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if site.persisted? %>
      <%= link_to "Cancel", site, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", sites_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
