

<div class="basic_theme">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sites</h1>
    </div>

  </div>



  <ul class="card_grid">
      <li class="card">
        <div class="m-3">
        <%= link_to "New Site" , new_site_path, class: "btn btn-primary m-5 p-3" %>
          <p class="text-justify">Create a new site with the help of our smart assessment</p>

        </div>


      </li>
        <% @sites.each do |site| %>
          <%= content_tag :li, id: dom_id(site), class: "card #{dom_class(site)}"  do %>
          <div class="m-3">
            <div class="card_title">
              <h2>
                <%= link_to site.name, site %>
              </h2>

            </div>
            <div class="card_img">
              <%= render "site_card_svg" %>
            </div>
            <div class="card_actions flex-row-reverse mt-3">
              <%= link_to edit_site_path(site), class: 'btn btn-primary' do %>
                Edit
              <% end %>
              <%= link_to 'Destroy' , 
                  site, method: :delete, 
                  class: "text-danger" , 
                  data: { confirm: 'Are you sure?' } %>

            </div>
          </div>
        
            <% end %>
              <% end %>

    <% 10.times do %>
    <% end %>
  </ul>
</div>