<h1>background-color: rgb(36, 44, 131);</h1>

<div id="site-container" >
<%= content_tag :div, 
                class: "strong", 
                style: "background-color: hsla(#{@site.brand_primary_color})" do -%>
  Hello world! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, saepe magnam! Explicabo, veritatis id! Veniam, ullam? Quis ad explicabo animi eaque! Harum ullam, necessitatibus nobis cumque ipsum ex modi adipisci!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit consequuntur iure aspernatur ducimus iste ab culpa repudiandae accusantium vel, voluptatum libero? Animi doloremque ab id temporibus rerum enim aut eos aliquam maxime praesentium iste dolorem officiis exercitationem eligendi deleniti recusandae sint nemo, voluptas optio aliquid dolor suscipit voluptatum cumque! Inventore quis numquam veniam! Nam blanditiis debitis eligendi natus tempora autem corrupti ab assumenda nemo, neque ea ullam temporibus reiciendis doloremque voluptatibus! Minus possimus delectus reiciendis voluptas? Vero fugiat voluptates veritatis illo non hic, fuga quae necessitatibus? Similique ullam debitis inventore tempora dolorum itaque possimus iure. Totam beatae in, ullam explicabo vero dolores, porro reprehenderit est molestias eaque deserunt harum, excepturi dicta autem maxime ab et corrupti. Est molestiae temporibus tempore, rem commodi vitae obcaecati quae eligendi neque voluptas, quis repudiandae ullam vero, facere atque amet assumenda. Voluptatibus at, repellat deserunt delectus eveniet minus impedit quis tempore corrupti qui commodi provident illo facilis asperiores nostrum modi odio maiores architecto ad temporibus fugit. Laborum eum perferendis odit voluptatibus quis officiis quae ex iure quaerat cupiditate quam rerum aliquid qui, est debitis architecto numquam cum assumenda! Architecto, vero! Nesciunt quod, est enim laborum itaque iusto vel nobis veritatis harum illum magni praesentium eos aut nihil incidunt ipsa at, neque, cum aliquid quos officiis doloremque nisi dicta. At, enim dolor! At amet corrupti impedit modi dolore debitis dolor blanditiis nisi accusamus culpa? Illum hic tempora dicta impedit non ducimus dolor in rem rerum, alias atque eveniet, minus architecto distinctio nulla, id quaerat odit. Aspernatur reprehenderit blanditiis quidem ab quibusdam deserunt, nostrum alias suscipit explicabo dolores assumenda autem, molestias ipsum totam aliquid. Enim minus accusantium fugiat soluta libero id exercitationem molestias atque! Non quam maiores itaque consequuntur quaerat assumenda aliquid, minima illo, obcaecati rerum doloremque commodi expedita harum? Expedita quas minima quia nihil odit, error quis eum cum obcaecati qui fugiat accusamus distinctio eaque excepturi praesentium dolor explicabo iusto optio assumenda ut. Architecto, ullam? Quia, molestiae soluta perferendis reprehenderit culpa doloribus beatae vel consequuntur illo praesentium saepe id libero temporibus ullam modi dolor. Voluptatem, veritatis? Illo commodi dignissimos aperiam. Voluptatem, aspernatur saepe dicta omnis exercitationem eaque. Cum praesentium labore aliquam ipsam repudiandae possimus magnam repellat provident reprehenderit autem! Amet, ea sint minima totam expedita animi, iste unde saepe, nemo commodi at id voluptatibus excepturi fugit nostrum! Repudiandae perspiciatis laudantium aut autem, corporis ea provident consequuntur laboriosam corrupti porro facilis inventore asperiores consequatur, harum accusamus quo dolorem officia quia impedit eveniet nemo veniam totam culpa. Odio amet fugiat voluptate ipsum corrupti vitae sit neque odit iure cum at repellat doloremque labore exercitationem architecto quisquam est iusto perspiciatis culpa et nam optio, eveniet voluptatem ipsa? Veniam ex ipsum incidunt pariatur nostrum libero sapiente placeat in veritatis voluptatum sunt officia deleniti nam consequatur iusto atque fugit corporis sit modi quibusdam, dolorum odit hic ea explicabo. Beatae, quis. Minima doloribus sed dolores commodi dolore non aperiam quaerat aliquam, totam sunt alias. Excepturi consequuntur ducimus beatae adipisci saepe laudantium soluta placeat, laboriosam iste omnis numquam vel maiores in magnam voluptas nisi magni unde fugiat aspernatur reiciendis corporis recusandae. Beatae voluptatem atque, ipsa laudantium, corrupti quam dignissimos tempora ipsam laboriosam aperiam dolores eaque voluptas sint obcaecati perferendis debitis consequatur, voluptatibus rerum distinctio? Quam, consequuntur provident aut debitis quaerat labore temporibus sed maxime dolore reiciendis voluptatibus sapiente. Delectus asperiores dolores reprehenderit saepe quisquam animi voluptatum temporibus corrupti mollitia labore? Itaque cumque quaerat consectetur quibusdam vel maxime nulla sequi error, eveniet tempore voluptate ad nihil illum soluta nam recusandae adipisci ratione exercitationem numquam reprehenderit. Omnis dolorem libero incidunt aperiam inventore nulla nisi dicta deserunt tempore consequatur exercitationem iste nam, alias cumque consequuntur ullam blanditiis unde, nesciunt dolore architecto iusto possimus rem. Maxime non fuga corrupti quisquam blanditiis, voluptas autem expedita laboriosam asperiores facere numquam, nulla eum animi aliquam praesentium quos provident voluptate placeat itaque eius tenetur. Quos adipisci, aliquid distinctio beatae libero voluptatum maiores reprehenderit culpa nisi quibusdam magnam minus repudiandae delectus inventore accusamus corrupti ex? Dolorem temporibus debitis nemo, quibusdam odio quasi aperiam ipsum enim eaque quisquam rerum voluptate nihil, totam maiores, alias corrupti nobis aliquam vero recusandae ea ratione perspiciatis? Ipsa, sapiente! Nemo, repudiandae. Exercitationem, officiis aut. Vero possimus tempore molestias quam porro, ipsam esse omnis reiciendis accusantium? Dicta beatae praesentium alias tenetur corrupti, maiores cum error fuga facilis distinctio? Modi expedita earum provident illum ut aperiam voluptates laborum, in nobis aliquid rem iste dolore voluptatem dicta totam. Odit tempore fugiat sunt facere fugit veritatis eveniet, inventore expedita porro perferendis error totam sequi soluta similique beatae nulla ducimus illo quidem numquam sapiente incidunt atque cupiditate repellendus? Illum atque velit laborum eum earum. Consequuntur officiis ducimus illum labore animi quos mollitia ad repellat nemo asperiores tenetur sed, neque ullam voluptatibus beatae obcaecati modi assumenda. Ea, odit quisquam culpa illum vero vel quis eos. Nihil iste odit soluta distinctio assumenda earum architecto a quasi cum itaque commodi iure obcaecati, doloremque eum maxime accusantium culpa alias dolor numquam eos dignissimos id tenetur! Illo impedit quo architecto dolorem mollitia reiciendis autem modi! Dignissimos quam dolorum, odio dolorem eligendi aperiam esse repellat atque doloremque minus commodi molestias rerum officiis nemo, vel quibusdam aliquid perferendis. Consequatur aspernatur blanditiis ea commodi quisquam deleniti quam deserunt? Facere expedita illo non cupiditate tempora alias minima labore qui nesciunt, aliquam animi excepturi esse, ab facilis ducimus quo eius, tenetur eaque veritatis! Quae suscipit et, architecto enim iusto non minus ipsa saepe voluptatem, porro eos culpa neque iure! Laudantium, repellendus saepe cum voluptate hic voluptatem tempora reprehenderit nemo expedita aspernatur quis quibusdam ea, illum magni minima. Numquam vitae voluptatum magni a, possimus ea expedita autem, quis soluta facere aspernatur veniam aperiam nostrum porro? Possimus consequuntur, perspiciatis debitis porro sit cupiditate doloremque ratione quo nesciunt iusto quisquam minus ea eveniet saepe quas voluptatibus temporibus nam accusamus dolore eius! Totam autem ab eveniet recusandae alias quod? Architecto quod esse, hic sed rerum deleniti blanditiis ullam ratione tenetur quas culpa, illo dolor natus doloremque. Earum officia ab iure at fugiat quisquam, quidem consequuntur exercitationem nemo recusandae, accusantium incidunt amet. Placeat, fuga deserunt, ab corrupti fugit ea corporis at officia amet illum quis nesciunt assumenda harum labore voluptates excepturi magni reprehenderit iure minus dolorem enim reiciendis eius. Itaque architecto tenetur quod tempora eaque qui, nostrum odit accusantium inventore, omnis veritatis ex deleniti perspiciatis veniam consequuntur reiciendis esse sequi nihil! Et ea labore illum delectus quisquam fugiat deserunt, corrupti odit aperiam aliquid, doloribus natus enim magnam velit temporibus officia eos? Magni fugit eligendi, culpa obcaecati fuga officia quo, beatae, sint dicta mollitia necessitatibus esse non rerum labore? Assumenda obcaecati iure esse? Quasi aliquam consectetur omnis optio? Ad qui dolore, unde sapiente nihil quasi ex illo optio velit est harum quas atque at perferendis quisquam ipsum similique hic inventore dolor voluptatibus obcaecati tenetur! Consequatur unde consectetur voluptates aliquam enim cum exercitationem ex cumque dicta earum, delectus mollitia neque reiciendis iste libero dolorem. Architecto eius aut aperiam atque natus laboriosam distinctio rem harum voluptates, tenetur animi odit, debitis vitae. Quibusdam molestiae quidem explicabo voluptates deleniti? Quo consectetur aut porro debitis sint, voluptatibus, dignissimos quam incidunt animi voluptatum modi beatae voluptate, dolorem nemo eius deserunt necessitatibus consequuntur reiciendis sit tempora illum ratione expedita eum qui! Tempore iusto dolores, nisi asperiores ratione, iure quo doloremque fugiat sed tempora, rem velit modi!
  <% end -%>
  <div class="page-header">
    <%= link_to sites_path, class: 'btn btn-default' do %>
      All Sites
    <% end %>
    <%= link_to edit_site_path(@site), class: 'btn btn-primary' do %>
      Edit
    <% end %>
    <h1>Show site</h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd>
      <%= @site.name %>
    </dd>
  </dl><dl class="dl-horizontal">
    <dt>domain:</dt>
    <dd>
      <%= @site.subdomain %><br />

    </dd>
  </dl><dl class="dl-horizontal">
    <dt>logo:</dt>
    <dd>
      <%= render "sites/shared/inline_edit" , model: @site, method: :logo_url do %>
        <% if !@site.logo_url.present? %>
            <svg height="50" width="50">
                <circle cx="25" cy="25" r="20" stroke="black" stroke-width="3" fill="red" />
            </svg>
        <% else %>
            <%= image_tag(@site.logo_url, width: "40") %>
        <% end %>
      <% end %>
    </dd>
    <dd>
    <dt>name</dt>
    <%= render "sites/shared/inline_edit" , model: @site, method: :name do %>
      <span>
        <%= @site.name %>
      </span>
      <% end %>
        </dd>
    <dd>
    <dt>headline</dt>
    <%= render "sites/shared/inline_edit" , model: @site, method: :headline do %>
      <h1>
        <%= @site.headline %>
      </h1>
      <% end %>
        </dd>
    <dd>
      <dt>tagline</dt>
        <%= render "sites/shared/inline_edit" , model: @site, method: :tagline do %>
          <p>
            <%= @site.tagline %>
          </p>
          <% end %>
    </dd>


  </dl>
</div>